# Install PyTorch first: https://pytorch.org/get-started/locally/
# Install PyG:           https://pytorch-geometric.readthedocs.io/en/latest/install/installation.html

torch==2.1.0
torch-geometric==2.4.0
torch-scatter==2.1.2
torch-sparse==0.6.18

networkx>=2.7
scikit-learn>=1.0
scipy>=1.7
numpy>=1.22
pandas>=1.4
matplotlib
seaborn

optuna>=3.0
test-tube

streamlit>=1.30
plotly>=5.0
